# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
env/
venv/

# Database
db.sqlite3

# Media / uploads
media/
sent_emails/

# Staticfiles (collected)
staticfiles/

# IDE/editor
.vscode/
.idea/

# OS files
Thumbs.db
.DS_Store

# Logs
*.log

# Node
node_modules/

# Build
dist/
build/
